# @package _global_

defaults:
  - _self_
  - /robot: unitree/G1/29dof/29dof_training_isaaclab

hydra:
  job:
    chdir: false

# IO
precomputed_npz_root: ???
hdf5_root: ???

# Runtime
chunks_t: 1024
compression: lzf  # lzf|gzip|none
shard_target_gb: 2.0
num_jobs: 8
debug_local_mode: false


